<div class="container bg-div"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="person col-6 col-sm-6 col-md-6 col-lg-6">
      <h1>Bill Gates</h1>
      <img src="../../assets/img/main@2x.png">
      <p class="field">FECHA DE NACIMIENTO</p>
      <p>28 de Octubre de 1955</p>
      <p class="field">PROFESIÓN</p>
      <p>Filántropo</p>
      <p class="field">BIO</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet magni animi fugit vel quisquam quo. Optio ea quia illum cum quisquam quasi, modi iure, explicabo iste dolorem in, itaque sequi!
      Eum ut voluptas sunt, facere ea deserunt itaque, adipisci ipsa fuga aliquam soluta quas eius dolore quisquam sit totam quam maiores, at nemo obcaecati cumque tempore. Omnis cupiditate expedita eos.
      Eligendi corporis dolores debitis error hic ad ab beatae id eveniet iure aliquam itaque dicta, voluptatum quo sit vero sequi optio quidem consectetur ducimus unde dignissimos maxime placeat! Saepe, atque!
      Esse ipsum quisquam laudantium? Suscipit aut beatae ipsa voluptatem dolores facere rerum dolor soluta sequi, officia culpa doloribus, provident minus non similique repellendus atque aperiam ipsum nemo! Vitae, nesciunt numquam.</p>

    </div>
  </div>
</div>
