@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$cBlack: black;
$cWhite: white;
$cOrange: #ffb500;
$cOrangeHover: #FF9800;


body{
  font-family: "Roboto", Arial;
  font-weight: 400;
  background-color: #F4F6F7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
