<div class="container">
  <div class="row">
    <div class="left col-12 col-sm-12 col-md-12 col-lg-4">
      <h1>Descubre <br>perfiles de <br><span>famosos</span></h1>
    </div>


    <div class="right col-12 col-sm-12 col-md-12 col-lg-8">
      <img src="../../assets/img/main@2x.png" >
    </div>

    <div class="search col-7 col-sm-7 col-md-7 col-lg-7">
      <input type="text" placeholder="Buscar por nombre o apellido">
      <button class="btn btn-warning"><i class="bi bi-search"></i></button>
    </div>


  </div>
</div>
